:css
  h1 {
    page-break-before: always; color: navy;
  }
  h1:first-child {
    page-break-before: avoid;
  }

- @order.products.each do |product|
  %h1 #{product.name}
  %h2 #{@order.billing_address[:first_name]} #{@order.billing_address[:last_name]}
  %p This is a big test.
  %img{:src => product.barcode_image.to_data_url}
  = map_for('Acer Arena, Sydney')
  = @order
