!!!
%html
  %head
    %title= content_for?(:title) ? yield(:title) : "Tickets Service"
    = stylesheet_link_tag "application", :media => "all"
    = yield(:head)

  %body{:class => "#{controller_name} #{action_name}"}
    = yield
